<a href="{{ link.url }}" {{ ('#' in link.url) ? 'data-scroll' : '' }} {{ (title) ? 'title="' ~ title ~ '"' : '' }} {{ (link.target) ? 'target="' ~ link.target ~ '"' : '' }} class="btn {{ button_style }}"><span>{{ link.title }}</span></a>
