<section {% include 'helpers/section_id.twig' with { 'id': content.layout_settings.section_options.id } %} class="{% include 'helpers/section_classes.twig' with { 'options': content.layout_settings.section_options } %}">
  <div class="container">

    <div class="row">
      <div class="col col--12@xl">
        <div class="single-quote bg--{{ (content.quote_background_colour) ? content.quote_background_colour : 'red' }} colour--{{ (content.quote_text_colour) ? content.quote_text_colour : 'white' }}">
          {{ (content.image) ? '<div><img class="single-quote__img" src="' ~ content.image['sizes']['medium'] ~ '" /></div>' : '' }}
          {{ (content.quote) ? '<p class="h3 single-quote__quote">' ~ content.quote ~ '</p>' : '' }}
          {{ (content.name) ? '<p class="reset-mar"><strong>' ~ content.name ~ '</strong></p>' : '' }}
          {{ (content.footnote) ? '<p>' ~ content.footnote ~ '</p>' : '' }}

          {% if content.buttons|length %}
            {% include 'molecules/button_group.twig' with {
              'buttons': content.buttons
            } %}
          {% endif %}

          <svg opacity="0.12" class="single-quote__bg" x="0px" y="0px" preserveAspectRatio="none" viewBox="0 0 1840 1500">
            <path fill="#04020C" d="M-3,1174.6l314.1-314.1c4.6-4.6,12-4.6,16.6,0c0,0,0,0,0,0l111.9,111.9c4.6,4.6,4.6,12,0,16.6L-3,1431.8
              V1174.6z M437.1,1268.5c-35.5-35.5-35.5-93.1,0-128.6c0,0,0,0,0,0l296.2-296.2c35.5-35.5,93.1-35.6,128.6-0.1
              c35.5,35.5,35.6,93.1,0.1,128.6c0,0,0,0-0.1,0.1l-296.2,296.2C530.2,1304,472.6,1304,437.1,1268.5
              C437.1,1268.5,437.1,1268.5,437.1,1268.5L437.1,1268.5z M529.8,882.4L417.9,770.4c-6.2-6.2-6.2-16.1,0-22.3c0,0,0,0,0,0l526.3-526.3
              c6.2-6.1,16.1-6.1,22.3,0l111.9,111.9c6.2,6.2,6.2,16.1,0,22.3c0,0,0,0,0,0L552.1,882.4C546,888.5,536,888.5,529.8,882.4
              C529.8,882.4,529.8,882.4,529.8,882.4L529.8,882.4z M949.8,227.5L423.5,753.8c-3,3-3,7.9,0,11c0,0,0,0,0,0l112,111.9c3,3,7.9,3,11,0
              l526.3-526.3c3-3,3-7.9,0-11l-111.9-112C957.8,224.5,952.9,224.5,949.8,227.5L949.8,227.5z M916.4,691.1c0-54.2,43.9-98.1,98.1-98.1
              s98.1,43.9,98.1,98.1s-43.9,98.1-98.1,98.1c0,0,0,0,0,0C960.4,789.2,916.4,745.3,916.4,691.1z M243.9,554.2
              c0-56.4,45.7-102.1,102.1-102.1c56.4,0,102.1,45.7,102.1,102.1S402.4,656.2,346,656.2c0,0,0,0,0,0
              C289.6,656.2,244,610.5,243.9,554.2z M251.9,554.2c0,52,42.1,94.1,94.1,94.1c52,0,94.1-42.1,94.1-94.1c0-52-42.1-94.1-94.1-94.1
              C294.1,460.1,252,502.2,251.9,554.2z M1839.8,0l-598.7,598.8c-5.3,5.3-14,5.3-19.3,0c0,0,0,0,0,0l-114.9-114.9
              c-5.3-5.3-5.3-14,0-19.3c0,0,0,0,0,0L1581,0h11.3l-479.9,470.2c-2.2,2.2-2.2,5.8,0,8l114.9,114.9c2.2,2.2,5.8,2.2,8,0L1828.4,0
              H1839.8z M1155.4,266.3L1034,144.9c-2-2-2-5.2,0-7.2c0,0,0,0,0,0L1169.7,2l0,0c2-2,5.2-2,7.2,0c0,0,0,0,0,0l121.4,121.4
              c2,2,2,5.2,0,7.2l-135.7,135.7C1160.6,268.3,1157.4,268.3,1155.4,266.3L1155.4,266.3z"/>
          </svg>
        </div>
      </div>
    </div>

  </div>
  {% include 'helpers/styled_background.twig' with { 'options': content.layout_settings.section_options } %}
</section>
