<section {% include 'helpers/section_id.twig' with { 'id': content.layout_settings.section_options.id } %} class="columns {% include 'helpers/section_classes.twig' with { 'options': content.layout_settings.section_options } %}">
  <div class="container">
    {% if content.title or content.intro %}
    <div class="row row--pad-bot">
      <div class="col col--5@xl">
        {% if content.title %}
          <p class="h2">{{ content.title }}</p>
        {% endif %}

        {% if content.intro %}
          <p>{{ content.intro }}</p>
        {% endif %}
      </div>
    </div>
    {% endif %}

    <div class="row {{ content.vertical_align }} row--justify-between">

      {% if content.column_left.content.title or content.column_left.content.content or content.column_left.image.large %}
      <div class="col col--4@xl">
        {% if content.column_left.content.title %}
        <h3>{{ content.column_left.content.title }}</h3>
        {% endif %}

        {% if content.column_left.content.content %}
        {{ content.column_left.content.content }}
        {% endif %}

        {% if content.column_left.content.buttons|length %}
        {% include 'molecules/button_group.twig' with {
          'buttons': content.column_left.content.buttons
        } %}
        {% endif %}

      </div>
      {% endif %}

      {% if content.column_middle.content.title or content.column_middle.content.content or content.column_middle.image.large %}
      <div class="col col--4@xl">
        {% if content.column_middle.content.title %}
        <h3>{{ content.column_middle.content.title }}</h3>
        {% endif %}

        {% if content.column_middle.content.content %}
        {{ content.column_middle.content.content }}
        {% endif %}

        {% if content.column_middle.content.buttons|length %}
        {% include 'molecules/button_group.twig' with {
          'buttons': content.column_middle.content.buttons
        } %}
        {% endif %}

      </div>
      {% endif %}

      {% if content.column_right.content.title or content.column_right.content.content or content.column_right.image.large %}
      <div class="col col--4@xl">
        {% if content.column_right.content.title %}
        <h3>{{ content.column_right.content.title }}</h3>
        {% endif %}

        {% if content.column_right.content.content %}
        {{ content.column_right.content.content }}
        {% endif %}

        {% if content.column_right.content.buttons|length %}
        {% include 'molecules/button_group.twig' with {
          'buttons': content.column_right.content.buttons
        } %}
        {% endif %}

      </div>
      {% endif %}


    </div>
  </div>
  {% include 'helpers/styled_background.twig' with { 'options': content.layout_settings.section_options } %}
</section>
