{% extends "base.twig" %}

{% block content %}

<div class="section-background-graphic-wrap">
	<svg opacity="0.5" class="section-background-graphic section-background-graphic--page-header section-background-graphic--lightgrey" x="0px" y="0px" preserveAspectRatio="none" viewBox="0 0 1840 1500">
		<path d="M1155.4,266.3c2,2,5.2,2,7.2,0l135.7-135.7c2-2,2-5.2,0-7.2L1176.9,2c-2-2-5.2-2-7.2,0L1034,137.7c-2,2-2,5.2,0,7.2
			L1155.4,266.3z"/>
		<path d="M417.9,770.4l111.9,112c6.2,6.1,16.2,6.1,22.3,0L1078.4,356c6.2-6.2,6.2-16.1,0-22.3L966.5,221.8c-6.2-6.1-16.1-6.1-22.3,0
			L417.9,748.1C411.7,754.3,411.7,764.2,417.9,770.4z M423.5,753.8l526.3-526.3c3.1-3,8-3,11.1-0.1l111.9,112c3,3.1,3,8,0,11
			L546.5,876.7c-3.1,3-8,3-11,0l-112-111.9C420.5,761.7,420.5,756.8,423.5,753.8z"/>
		<path d="M1107.9,485.4l111.9,112c6.2,6.1,16.2,6.1,22.3,0L1708.4,141c6.2-6.2,6.2-16.1,0-22.3L1596.5,6.8c-6.2-6.1-16.1-6.1-22.3,0
			l-466.3,456.3C1101.7,469.3,1101.7,479.2,1107.9,485.4z M1113.5,468.8l466.3-456.3c3.1-3,8-3,11.1-0.1l111.9,112c3,3.1,3,8,0,11
			l-466.3,456.3c-3.1,3-8,3-11,0l-112-111.9C1110.5,476.7,1110.5,471.8,1113.5,468.8z"/>
		<path d="M346,656.2c56.4,0,102.1-45.6,102.1-102c0-56.4-45.7-102.1-102.1-102.1c-56.4,0-102.1,45.7-102.1,102.1
			C244,610.5,289.6,656.2,346,656.2z M346,460.1c52,0,94.1,42.1,94.1,94.1S398,648.3,346,648.3s-94.1-42.1-94.1-94.1
			C252,502.2,294.1,460.1,346,460.1z"/>
		<path d="M439.6,972.4L327.7,860.5c-4.6-4.6-12-4.6-16.6,0L-3,1174.6v257.2L439.6,989C444.2,984.4,444.2,977,439.6,972.4z"/>
		<circle cx="1014.5" cy="691.1" r="98.1"/>
		<path d="M733.3,843.7l-296.2,296.2c-35.5,35.5-35.5,93.1,0,128.6s93.1,35.5,128.6,0l296.2-296.2c0.1-0.1,0.1-0.1,0.1-0.1
			c35.5-35.5,35.4-93.1-0.1-128.6S768.8,808.2,733.3,843.7z"/>
	</svg>
</div>

<section class="insights-single__masthead">
	<div class="container">
		<div class="row">
			<div class="col col--8@med">
				<p class="h1">{{ title }}</p>
			</div>
		</div>
	</div>
</section>



<section class="insights-archive">
  <div class="container">
    <div class="row">
		{% for post in posts %}
			<div class="col col--{{ (loop.first or loop.index == 7) ? '8' : '4' }}@xl">
				{% include 'molecules/insights-card.twig' with {
					'post_info': post,
					'wide': (loop.first or loop.index == 7) ? true : false,
				} %}
			</div>
			{# if loop.index == 5 #}
			{% if remove == 5 %}
	    <div class="col col--12@med bg--sapphire colour--white">
				<div style="padding: 70px;">
					[ BROCHURE ]
				</div>
	    </div>
			{% endif %}
		{% endfor %}
    </div>
		<div class="row row--justify-center row--align-center pagination">
    	{% if posts.pagination.prev %}
        <a href="{{posts.pagination.prev.link}}" class="prev {{posts.pagination.prev.link|length ? '' : 'invisible'}}">Prev</a>
	    {% endif %}
	    <ul class="pages reset-list">
	        {% for page in posts.pagination.pages %}
	            <li>
	                {% if page.link %}
	                    <a href="{{page.link}}" class="{{page.class}}">{{page.title}}</a>
	                {% else %}
	                    <span class="{{page.class}}">{{page.title}}</span>
	                {% endif %}
	            </li>
	        {% endfor %}
	    </ul>
	    {% if posts.pagination.next %}
	        <a href="{{posts.pagination.next.link}}" class="next {{posts.pagination.next.link|length ? '' : 'invisible'}}">Next</a>
	    {% endif %}
		</div>
  </div>
</section>




{% endblock %}
